:8080 {
	root * C:\Vitrine\code\vitrine_frontend\dist

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:8000
	}

	handle /static/* {
		uri strip_prefix /static
		reverse_proxy localhost:8000
	}

	handle {
		try_files {path} /index.html
		file_server
		encode gzip
	}

	header {
		-Server
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
